.table-dark, .table-dark th {
  background-color: #333a3e;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
}

table {
  width: 70%;
}
footer{
  text-align: center;
  text-shadow: 2px 2px 4px #544f4f71;
  font-weight: bold;;
}
